head
	meta(charset="UTF-8")
	title Flex slider
	link( rel="stylesheet" href="css/style.css")
	link( rel="stylesheet" href="css/reset.css")
	link( href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet")